<h2><%= @specific_post.title %></h2>
<p><%= @specific_post.content %></p>

<form action="/comment" method="post"><br/>
  <label>Comment<br/>
  <textarea rows="5" cols="50" name="content"></textarea>
  </label>
  <input type="submit" value="Submit">
  <input type="hidden" name="post_id" value="<%= @specific_post.id %>"> 
</form>  

<ol>
<% @comments.each do |comment| %>
  <li><%= comment.content %></li>
<% end %>
</ol>

<h4><a href="/">Go Home</a></h4>
