<h1>JokeZ</h1>

<ul>
  <% @posts.each do |post| %>
    <li><a href="/detail/<%= post.id %>"><%= post.title %></a>
      <br/>
      <em><%= post.content[0..25] %></em>
    </li>
  <% end %>
</ul>

<p>Enter a JOKE!</p>

<form action="/form" method="post">  
	<label>Title
		<br/>
	  <input type="text" name="title">  
  </label>
  <br/>
  <label>Content
  	<br/>
  	<textarea rows="5" cols="50" name="content"></textarea>
  </label>
	  <input type="submit" value="Submit">
</form>  

<!-- <p>hi cricket... aka code name konami</p> -->
