<!DOCTYPE html>
<head>
  <title>jokez f'days</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>jokez</h1>
  <% @posts.each do |post| %>
    <p><a href="/detail/<%= post.id %>"><%= post.title %></a></p>
      <!-- <br/><em><%= post.content[0..25] %></em><p> -->
  <% end %>
<br/>
<hr>
<br/>
<span class="header">enter a joke</span><br/><br/>
<form action="/form" method="post">
	<input type="text" size="80" name="title" placeholder="SO YOU GOT JOKES?!">
  <br/>
	<input type="text" size="80" name="content" placeholder="PUNCHLINE">
  <br/>
  <input type="submit" value="submit">
</form>

</body>
</html>