<!DOCTYPE html>
<head>
  <title>sign up</title>
  <link href="../public/style.css" rel="stylesheet" type="text/css">
</head>

<h1>sign up</h1>
<body>

  <form action="/signup" method="post">
    <br/>
    <input type="text" name="username" placeholder="username">
    <br/><br/>
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Sign Up">
  </form>

  <br/>
  <a href="/">Go Home</a>
</body>
</html>

<!-- # thunder helpers for login
# thunder rack flash
# thunder spechelper, dumps the database every time
# error for user already in the database -->