<!DOCTYPE html>
<head>
  <title>sign up</title>
  <link href="../public/style.css" rel="stylesheet" type="text/css">
</head>

<h1>sign up</h1>
<body>

  <form action="/create_user" method="post">
    <br/>
    <input type="text" name="username" placeholder="username">
    <br/><br/>
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="Submit">
  </form>

  <% if @user.id != nil %>
    <p>Welcome to jokez landz <%= @user.username %></p>
  <%end%>
</body>
</html>

# thunder helpers for login
# thunder rack flash
# thunder spechelper, dumps the database every time
# error for user already in the database