h1 {
  font-family: Monaco;
}

body {
  text-align: center;
  background: white;
  color: black;
  font-family: helvetica-light;
}

a:link {
  font-size: 20px;
  text-decoration: none;
  color: red;
}

a:visited {
  font-size: 20px;
  text-decoration: none;
  color: red;
}

a:hover {
  font-size: 20px;
  text-decoration: none;
  color: black;
  cursor: default;
}

span.header {
  font-family: Monaco;
  font-size: 30px;
}

input, textarea {
  padding: 4px;
  font-size: 14px;
  text-align: center;
}

input[type="submit"] {
  font-family: helvetica-light;
  font-size: 14px;
  padding: 5px;
  background: white;
  color: red;
  border: 0px solid;
  border-radius: 0px;
}

input[type="submit"]:hover {
  color: red;
  background-color: yellow;
}