body {
  background: white;
  color: black;
  font-family: helvetica-light;
  margin: 0;
}

div.container {
  width: 960px;
  height: 480px;
  margin: 50px;
  overflow: scroll;
}

div.footer {
  width: 960px;
  margin: 50px;
  overflow: hidden;
}

div.header {
}

div.joke-input {
  position: fixed;
  bottom: 50px;
  right: 50px;
  text-align: right;
  z-index:1;
}

div.welcome-login {
  position: fixed;
  top: 50px;
  right: 50px;
  text-align: right;
  background-color: #FFFFFF;
}

div.welcome-message {
  padding-right: 2px;
  text-align: right;
}

div.sign-up {
  position:fixed;
  bottom:50px;
  left:50px;
}

h1, h2 {
  font-family: Monaco;
  font-size: 40px;
  color: black;
}

a:link {
  font-size: 20px;
  text-decoration: none;
  color: red;
}

a:visited {
  font-size: 20px;
  text-decoration: none;
  color: red;
}

a:hover {
  font-size: 20px;
  text-decoration: none;
  color: black;
  cursor: default;
}

span.joke-prompt {
  font-family: Monaco;
  font-size: 20px;
}

p#error {
  position:relative;
  padding-right: 6px;
  font-size:12px;
}

input, textarea {
  padding: 5px;
  font-size: 12px;
  text-align: right;
}

input[type="submit"] {
  font-family: helvetica-light;
  font-size: 14px;
  padding: 5px;
  background: white;
  color: red;
  border: 0px solid;
  border-radius: 0px;
}

input[type="submit"]:hover {
  color: black;
}